<headerclass="header">
  <divclass="blog-title">
    <ahref="<%- url_for() %>"class="logo"><%=config.title%></a>
  </div>
  <navclass="navbar">
    <ulclass="menu">
      <liclass="menu-item">
        <ahref="/"class="menu-item-link">Home</a>
      </li>
      <liclass="menu-item">
        <ahref="/archives"class="menu-item-link">Archive</a>
      </li>
    </ul>
  </nav>
</header>